* {
  border: solid;
}
:root {
  --grid-size: 32;
  --grid-height: 600px;
}

.grid-container {
  width: var(--grid-height);
  height: var(--grid-height);
  display: grid;
  grid-template-columns: repeat(var(--grid-size), 1fr);
  grid-template-rows: repeat(var(--grid-size), 1fr);

  border: solid;
}
.grid-cell {
  border: 1px solid lightgrey;
}
